h2 {
    text-shadow: 2px 2px gray;
}

.List {
    box-shadow: 10px 10px 10px;
    width: 325px;
    height: 125px;
    background-color: gray
}

.humor {
    background-image: linear-gradient(to right, orange, limegreen, purple);
    width: 840px;
}

html,
body {
    height: 100%;
}

html {
    background-image: url(../images/pencil.png), url(../images/paper.jpg);
    background-position: right top, left top;
    background-repeat: no-repeat, repeat;
    background-size: 80px auto, auto;
}

.knowledge {
    column-count: 3;
    column-rule-style: solid;
}

.name {
    color: rgba(255, 0, 0, 0.5);
}

@font-face {
    font-family: CoffeeHealing;
    src: url(../fonts/CoffeeHealing-1GrKe.ttf) format("truetype");
}
p {
    font-family: CoffeeHealing;
}